@import "../../app.scss";

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  gap: 100px;
  max-width: 1366px;

  @include mobile {
    width: 675px;
  }

  h1 {
    color: #663399;
    font-size: 52px;
    font-weight: 500;
  }

  .service-names {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-items: center;

    h2 {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #663399;
      font-weight: 500;
      box-shadow: 0 0 15px;
      width: 200px;
      height: 150px;
      padding: 38px;
      border: 1px solid #663399;
      border-radius: 10px;
      font-size: 26px;

      @include mobile {
        width: min-content;
        height: 100%;
        padding: 28px;
      }
    }
  }
}
