.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 100px;

  h1 {
    color: #663399;
    font-size: 52px;
    font-weight: 500;
  }

  .project-ideas {
    display: flex;
    gap: 20px;
    align-items: flex-start;
    justify-items: center;

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      color: #663399;
      font-weight: 500;
      box-shadow: 0 0 15px;
      width: 140px;
      padding: 38px;
      border: 1px solid #663399;
      border-radius: 10px;
      font-size: 26px;
    }
  }
}
