@import "../../app.scss";

.header {
  background-color: rgb(15, 15, 42);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.portfolio {
  font-size: 30px;
}

.items {
  display: flex;
  gap: 20px;

  a {
    font-size: 30px;

    @include mobile {
      font-size: 20px;
    }
  }
}
