.hero {
  height: calc(100vh - 160px);

  .wrapper {
    max-width: 1366px;
    margin-top: 160px;
    margin-left: 200px;

    .text-container {
      display: flex;
      flex-direction: column;
      gap: 40px;

      h2 {
        font-size: 30px;
        color: rebeccapurple;
        letter-spacing: 5px;
      }

      h1 {
        font-size: 80px;
      }

      .buttons {
        a {
          padding: 20px;
          border: 1px solid white;
          border-radius: 10px;
          background-color: transparent;
          color: white;
          margin-right: 20px;
          font-size: 13px;
          cursor: pointer;
        }
      }

      img {
        width: 50px;
      }
    }
  }

  .sliding-text {
    font-size: 30vh;
    bottom: -16px;
    position: absolute;
    white-space: nowrap;
    color: #ffffff09;
    width: 50%;
    font-weight: bold;
  }
}
