* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background-color: rgb(15, 15, 30);
  color: lightgrey;
}

a {
  text-decoration: none;
  color: inherit;
}

section {
  // height: 100vh;
  // scroll-snap-align: center;
}

@mixin mobile {
  @media (max-width: 738px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: 1366px) {
    @content;
  }
}
